/* box-sizing*/

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  overflow-x: hidden;
  background-color: #224455;
}

ul, li {
  list-style: none;
}
/* Header */

header {
    background-color: white;
    display: flex;
    justify-content: space-between;
    width: 100vw;
    height: 10vh;
    
    @media (min-width: 498px) {
      /* styles for nav at ≥498px */
    }
}

nav {
  display: flex;
  justify-content: center;
  height: 100%;
  
  ul {
    display: flex;
    justify-content: space-between;
    
    li {
      display: flex;

      a > img  {
        width: 10vw;
        height: auto;
      }

      .dropdown-menu {
        display: none;

        @media (min-width: 498px) {
          display: flex;
          flex-direction: row;
          overflow: hidden;
          width: 10vw;
        }
      }

      button > img {
        width: 15px;
        height: auto;
      }

      input {
        display: none;

        @media (min-width: 498px) {
          display: flex;
        }
      }
    }

    .account-icon {
      display: none;

      @media (min-width: 498px) {
        display: flex;
      }
    }

  }
}

