/* CSS RESET */

/* 1. Use a more-intuitive box-sizing model */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* 2. Remove default margin */
* {
  margin: 0;
}

/* 3. Enable keyword animations */
@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}
html, body {
  overflow-x: hidden;
}
body {
  /* 4. Add accessible line-height */
  line-height: 1.5;
  /* 5. Improve text rendering */
  -webkit-font-smoothing: antialiased;
}

/* 6. Improve media defaults */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/* 7. Inherit fonts for form controls */
input,
button,
textarea,
select {
  font: inherit;
}

/* 8. Avoid text overflows */
p,
h1,
h2,
h3,
h4,
h5,
h6,
figcaption {
  font-family: sans-serif;
  overflow-wrap: break-word;
}

main>p,
h1,
h2,
h3,
h4,
h5,
h6,
figcaption {
  color: white;
}

/* 9. Improve line wrapping */
p {
  text-wrap: pretty;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}
figure {
  margin: 0px;
  margin-block-start: 0px;
  margin-inline-start: 0px;
}
/*
  10. Create a root stacking context
*/
#root,
#__next {
  isolation: isolate;
}

ul {
  list-style: none;
  padding: 0px;
}

html {
  background-color: #224455;
}

.image {
  width: 100%;
  height: auto;
}

.icon {
  width: 19px;
  height: 19px;
}

/* CSS Header Desktop*/
.white-header-desktop {
  background-color: white;
  position: sticky;
  top: 0;
  width: 100%;
}

/* CSS Header */
.logo {
  width: 100%;
  height: auto;
}
.white-header-mobile {
  background-color: white;
  position: sticky;
  top: 0;
  width: 100%;
}

.inline-nav {
  display: grid;
  grid-template-rows: repeat(1, 1fr);
  grid-auto-flow: column;
  grid-auto-columns: 33%;
  gap: 10px;
  width: 100%;
  padding: 0;
  margin-bottom: 10px;
}

.inline-nav>li {
  display: flex;
  align-items: center;
  justify-content: center;
}

.inline-nav>.logo {
  justify-content: center;
}

.inline-nav>.group-selector {
  justify-content: center;
}

.inline-nav>.grid-view {
  justify-content: center;
}

.gridselector .list-icon {
  display: none;
}

.grid-icon, .list-icon {
  width: 25px;
  height: 25px;
}

.images-grid,
.images-list {
  transition: 0.4s ease;
}

.images-grid:not(.active),
.images-list:not(.active) {
  max-height: 0;
  opacity: 0;
  transform: scale(.98);
  overflow: hidden;
  margin: 0;
  padding: 0;
  pointer-events: none;
}

.images-grid.active,
.images-list.active {
  opacity: 1;
  transform: none;
  pointer-events: auto;
}



/* CSS MAIN */


.gridselector {
  cursor: pointer;
  background: none;
  border: none;
  padding: 0;
}
/* CSS GRID VIEW */
.images-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
}
/* CSS LIST VIEW */

.image-list {
  display: flex;
  flex-direction: row;
  background-color: white;
  width: 100%;
  margin: 0 auto;
  border-radius: 20px;
}

.image-list > img {
max-width: 30vw;
border-radius: 20px 0px 0px 20px;
}

.images-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.inline-group {
  display: flex;
  gap: 20px;
  margin: 20px 0px 20px 10px;

}
/* CSS ZOEKEN */

.heading-resultaten {
  color: white;
}

.section-wrapper-zoeken {
  display: grid;
  place-items: center;
  padding: 20px 0px;
}

label {
  display: none;
}

input,
label {
  margin: 0.4rem 0;
  
}

input {
  background-color: white;
  width: 80vw;
  max-width: 90vw;
  border-radius: 20px;
}

input::placeholder {
  font-size: .8rem;
  padding-left: 5%;
}


/* CSS FOOTER */

.white-footer {
  background-color: white;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
}

.inline-footer-nav {
  display: grid;
  grid-template-rows: repeat(1, 1fr);
  grid-auto-flow: column;
  grid-auto-columns: 23%;
  gap: 10px;
  width: 100%;
  padding: 0;
}

.inline-footer-nav>li {
  display: flex;
  align-items: center;
  justify-content: center;
}

a>svg {
  width: 30px;
  height: 30px;
  aspect-ratio: 1/1;
}

.menu-ul.inline-footer-nav {
  padding: 3% 0px;
}

.white-header-desktop {
  display: none;
}

@media (min-width: 489px) {
  .images-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
  }

  .white-footer {
    display: none;
  }

  .white-header-desktop {
    display: grid;
  }

  .white-header-mobile {
    display: none;
  }
  .dropdown-menu {
    display: flex;
    gap: 10%;
    width: 60vw;
    justify-content: center;
  }
  .inline-nav {
    grid-template-rows: 1fr;
    grid-auto-columns: auto;
  }
}